@media (min-width: 992px) and (max-width: 1199px) {
  p {
    line-height:26px
  }
  .vertical-heading h2 {
    font-size:38px
  }
  .vertical-heading h5 {
    word-spacing:5px
  }

  #stats .stats-item {
    padding:25px 25px
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  p {
    line-height:26px
  }
  .btn-general {
    padding:10px 35px
  }
  .vertical-heading h2 {
    font-size:34px
  }
  #about .about-img {
    padding:20px 15px
  }
  #about p {
    margin:30px 0
  }
  #about img {
    height:auto
  }
  .r-tabs-accordion-title {
    text-align:center;margin-bottom:10px
  }
  .r-tabs-accordion-title.r-tabs-state-active a {
    color:#55b9a6;
    -webkit-transition:border-color 0.3s linear;
    -o-transition:border-color 0.3s linear;
    transition:border-color 0.3s linear
  }
  .stats-item {
    padding:25px 5px
  }
  #contact .message {
    padding-top:20px
  }
  ul.office-details li {
    margin-right:15px;
    display:inline-block
  }
  ul.office-details li i {
    width:auto;
    padding-right:8px
  }
}
@media (max-width: 768px) {
  p {
    font-size:16px;
    line-height:26px
  }
  .btn-general {
    padding:10px 25px;
    font-size:11px;
    color:#fff !important
  }
  .btn-general:before {
    width:150%
  }
  .vertical-heading {
    text-align:center
  }
  .vertical-heading h5 {
    -webkit-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
    display:block;
    position:static;
    margin-bottom:15px
  }
  .vertical-heading h2 {
    font-size:32px;
    line-height:normal;
    margin:0
  }
  .menu-toggle {
    top:20px;
    right:20px
  }
  #home-profile {
    width:160px;
    height:160px
  }
  #home-content-inner h1 {
    font-size:30px
  }
  .social-items li a i {
    width:34px;
    height:34px;
    font-size:16px;
    line-height:30px
  }
  .menu-items ul li a {
    font-size:24px
  }
  .scroll-indicator {
    top:85%
  }
  .scroll-indicator span {
    width:16px;
    height:16px;
    margin-bottom:-16px
  }
  #about p {
    margin:20px 0
  }
  #about img {
    width:320px;
    height:auto
  }
  #about #progress-elements {
    padding:0 15px
  }
  .r-tabs-accordion-title {
    text-align:center;
    margin-bottom:10px
  }
  .r-tabs-accordion-title a {
    font-size:12px;
    color:#212226;
    text-transform:uppercase;
    padding:0;
    letter-spacing:1px;
    text-decoration:none
  }
  .r-tabs-accordion-title.r-tabs-state-active a
  {color:#55b9a6;
    -webkit-transition:border-color 0.3s linear;
    -o-transition:border-color 0.3s linear;
    transition:border-color 0.3s linear
  }
  #portfolio {
    padding-bottom:0
  }
  #isotope-filters {
    text-align:center;
    padding:0
  }
  #isotope-filters .btn {
    padding:3px 5px
  }
  #isotope-filters button span {
    font-size:12px
  }

  }.stats-item {
    margin-bottom:20px;
    padding:25px 5px
  }
  .stats-item i {
    font-size:30px
  }
  .stats-item h3 {
    font-size:24px
  }
  #contact-left {
    text-align:center
  }
  #contact-left p {
    margin:25px 0
  }
  .office-details {
    justify-content:center;
    flex-direction:column
  }
  ul.office-details li {
    display:block;
    margin-bottom:20px
  }
  ul.office-details li i {
    width:auto;
    display:block;
    margin:5px 0;
    text-align:center
  }


@media (max-width: 570px) {
  #status {
    width:140px;
    height:140px
  }
  footer {
    padding:15px 0
  }
  footer p {
    font-size:16px
  }
  footer p img {
    width:36px
  }
}

@media (max-width: 480px) {
  .vertical-heading h2 {
    font-size:24px
  }
  #about img {
    width:250px;
    height:auto
  }
  .skill,.progress {
    margin-bottom:12px
  }
  .skill h4 {
    font-size:15px
  }.progress-bar span {
    width:32px;
    height:32px;
    line-height:32px;
    font-size:10px;
    top:-42px
  }
  .progress-bar span:before {
    border-top:12px solid #212226;
    border-left:8px solid transparent;
    border-right:8px solid transparent
  }
  #isotope-filters {
    text-align:center
  }
  #portfolio .vertical-heading {
    margin-bottom:30px
  }
  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top:0
  }
}
